/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 2px;
  /* flex-wrap: wrap; */
  overflow: hidden;
  z-index: -1;
}

.background::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(-120deg,black, #303333, black, #303333,black);
  animation: animate 3s linear infinite;
  /* animation-direction:alternate-reverse; */
  pointer-events: none;
  /* z-index: 0; */
}

/* Header */
header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    font-size: 1.5rem;
}

.copyright {
    color: white;
    font-size: 1rem;
    position: absolute;
    bottom: 0vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 1vh; */
    border-top: 2px dashed #202020;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);

}


a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.social-link i {
    font-size: 2.5rem;
}

.fab:hover {
    scale: 1.2;
    
}
    


















@keyframes animate {
  0% {
    transform: translateY(-100%) ;
  }
  100% {
    transform: translateY(100%) ;
  }
}

span {
  position: relative;
  height: 20px;
  width: 20px;
  background: #111;
  border: none;
  transition: border 0.3s ease-in-out;

}

span:hover {
  border: 1px solid #3fc3f8;
  transition-delay: 0s; /* instant on hover */
}

span {
  transition-delay: 1s; /* fade out when hover ends */
}
